.drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #bbb;
}

.drop_zone.nodes.filled {
	background-color: #FF6347;
}

.drop_zone.edges.filled {
	background-color: #5D6D7E;
}

.drop_zone.filled {
	border: none;
	color: white;
}

#force-layout {
	background-color: #F4F6F6;
	width: 100%;
	height: calc(100vh - 250px);
	border-radius: 3px;
}

.decay {
	position: absolute;
	display: block;
	width: calc(100% - 30px);
	height: 5px;
	border-radius: 3px 3px 0 0;
	top: 0;
	overflow: hidden;
}

.decay-bar {
	background-color: #58D68D;
	width: 100%;
	height: 100%;
	display: block;
}